.background-image{
    
    background: linear-gradient(hsla(120, 100%, 25%, 0.563), hsl(0, 0%, 0%)), 
                url(bodybac.jpg) no-repeat;
    position: relative;
    background-repeat: no-repeat;
    height: 51.7vw;
    background-size: cover;
    max-width: 100%;


}
#tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
  }




.head-name{
    font-size: 5em;
    color: #fff;
    padding-top: 17.5%;
    padding-left: 20%;
    margin-top: 0;
    margin-bottom: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-head{
    color: white;
    text-align: center;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 2vw;
    text-shadow: 2px 3px 5px white;
    

}

.btn-primary{
    height: 3vw;
    width: 8vw;
    background:hsla(120, 95%, 48%, 0.926);
    color: white;
    place-content: center;
    justify-content: center;
    border-radius: 1.5em;
    font-size: 1vw;
    margin-left: 38%;
    margin-right: 2%;
    border: 2px solid hsla(120, 100%, 25%, 0.076);
    cursor: pointer;
    z-index: 9999;
    position: relative;
    
    
}


.btn-primary:hover{
    background: white;
    color: green;
}

.btn-success{
    height: 3vw;
    width: 8vw;
    background: hsla(120, 98%, 45%, 0.926);
    color: white;
    place-content: center;
    justify-content: center;
    border-radius: 1.5em;
    font-size: 1vw;
    border: 2px solid hsla(120, 100%, 25%, 0.076);
    cursor: pointer;
    z-index: 9999;
    position: relative;
}

.btn-success:hover{
    background: white;
    color: green;
}




@media screen and (max-width: 1200px){
    .background-image{
        width: 100%;
        height: 900px;

    }

    .head-name{
        padding-top: 30%;
        padding-left: 4%;
        text-align: center;
    }
}

@media screen and (max-width: 980px){
    .background-image{
        width: 100%;
    }

    .head-name{
        padding-top: 28%;
        padding-left: 6%;
        text-align: center;
    }



}

@media screen and (max-width: 767px){
    .background-image{
        width: 100%;
    }

    .head-name{
        padding-top: 35%;
        padding-left: 4%;
        font-size: 4em;
        text-align: center;
    }

    .sub-head{
        font-size: 1.3em;

    }

    .btn-success{
        display: none;
    }

    .btn-primary{
        margin-left: 43%;
        height: 6vw;
        width: 13.5vw;
        font-size: 0.9em;
        border-radius: 0.6em;
        margin-top: 3vw;

    }
}

@media screen and (max-width: 480px){
    .background-image{
        width: 102vw;
        
        
    }

    .head-name{
        padding-top: 45%;
        padding-left: 6%;
        font-size: 3em;
        text-align: center;
        margin-right: 10vw;
        margin-left: 6vw;

    }

    .sub-head{
        font-size: 1.1em;
    }

    .btn-success{
        display: none;
    }

    .btn-primary{
        margin-left: 40%;
        height: 8vw;
        width: 20vw;
        font-size: 0.8em;
        border-radius: 1.2em;
        margin-top: 20px;
    }


}

@media screen and (max-height: 599px){
    .background-image{
        height: 599px;
    }

}





