img{
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 5%;
    padding: 3px;
    margin-left: 44.5%;
}

h2{
    text-align: center;
    color: white;
}

h2:hover{
    color: black;
}

.line{
    color: green;
    list-style: none;
    display: grid;
    font-size: 2em;
    float: left;
    margin-right: 1%;


}

.profile-header{
    padding-bottom: 17px;
    border: 1px solid rgba(128, 128, 128, 0.111);
    box-shadow: 1px 2px 3px green;
   /* border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;*/
    background: linear-gradient(hsla(120, 100%, 25%, 0.398), hsla(0, 0%, 0%, 0.892)), url(citypic.jpg) no-repeat;
    background-size: cover;
    position: inherit;
}

.story-render{
    color: white;
    font-size: 2em;
    cursor: pointer;
    margin-left: 45%;
    margin-right: 1%;
    list-style: none;
    display: grid;
    float: left;
}

.story-render:hover{
    border-bottom: 2px solid white;
    transition: all 0.1s ease-out;
}

.create-story{
    color: white;
    font-size: 2em;
    cursor: pointer;
    margin-left: 42%;
    margin-right: 37.6%;
    list-style: none;
    display: grid;
}

.create-story:hover{
    border-bottom: 2px solid white;
    transition: all 0.1s ease-out;
}
